{% extends 'base.html.twig' %}

{% block body %}
    <div class=\"container\">
        <div class=\"row\">
            <div class=\"col-md-12\">
                <h1>This is an e-mail form</h1>
            </div>
        </div>
    </div>
{% endblock %}